<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  .file {
    margin-bottom: 20px;
  }

  .file > .name {
    font-size: 18px;
    text-decoration: underline;
  }

  .hint {
    margin: 10px 0;
    padding-left: 10px;
  }

  .evidence {
    padding-left: 20px;
    background-color: #E2EEFF;
  }
</style>
</head>

<body>
<% lintErrors.forEach(function (file) { %>
  <div class="file">
    <div class='name'><%= file.name %> </div>
    <% file.issue.forEach(function (error) { %>
      <div class='hint'>
        <div class='issue'>
          <%= error.line %>:<%= error.char %>: <%= error.reason %>
        </div>
        <div class="evidence"><%= error.evidence %></div>
      </div>
    <% }) %>
  </div>
<% }) %>
</body>
</html>
